body{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
     align-items: center;
     background-color: aquamarine;
}

.wrapper{

    padding: 50px ;
    width: 35%;
    position: relative;
   

}

.home_header{
    background-color: rebeccapurple;
    color:white;
    padding: 10px ;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.home_content{
    background-color: antiquewhite;
    padding:20px 10px;
    border-radius: 15px;
    position: relative;

 
}

.home_content_header{
 
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
    margin: 10px 0;
}
.home_content_header button{
    height: 30px;
    width: 100%;
    border:0;
    margin: 0 2px;
    border-radius: 20px;
    cursor: pointer;

}

.home_content_header button.active{
    background-color:green;
}

.login{
    display: none;
}
.login.active{
    display: block;
}

.register{
    width: 100%;
       display: none;
      
}
.register.active{
    display: block;
  
   

}



.form{
    padding: 5px;
}

.form_control{
   margin: 10px 0px;
   padding: 5px 10px;

   display: flex;
   align-items: center;
}

.form_control label{
     min-width: 35%;
  
    margin-right: 8px;
}

.form_control input{
    width: 70%;
    height: 25px;
    border: 0;
    padding: 0px 20px;
    border-radius: 30px;
    
}


.form_control input:focus{
    outline: none;  
} 


.btn{

    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.form_control .btn_show{
    position: absolute;
    
    right: 28px;
    height: 18px;
    color: white;
    background-color: black;
    font-size: 12px;
}

.btn_login{
    width: 100%;
    padding: 8px 0px;
    background-color: blue;
    color:white;
    display: block;
    font-size: 16px;
    margin: 10px 0px;
}
.btn_guest{
    width: 100%;
    padding: 8px 0px;
    background-color:blueviolet;
    color:white;
    display: block;
    font-size: 16px;

    margin-bottom: 10px;
}


input[type='file']{
  
    display: none;
  
}
.img_file{
    width: 100%;
    text-align: center;
    background-color: white;
    padding:8px 0px;
    border-radius: 30px;
}