

.navbar{
    background-color: aquamarine;
    height: 50px;
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    top: 0;
}

.navbar div{
    width: 32%;
}


.search_navbar{
    position: relative;
}

.search_navbar .search{
  margin-right: 10px;  
  cursor: pointer;     
  background-color: white;
  padding: 5px;

  border-radius: 30px;
}

.search_navbar input {
    width: 200px;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    padding:  0px 20px;
    top: -50px;
 
    transition: top 0.3s;
    position:absolute;
 
   
}

.search_navbar input.active{
    top:0px;

    transition: top .3s linear;
  
 
}


.search_navbar input:focus{
    outline: none;
}

.chat_title{
    text-align: center;
}

.profile_navbar{
     text-align: end;
     
     
    }
.profile_navbar img{
    height: 30px;
    border-radius: 50%;
    margin-right: 18px;
    display: inline;
}

.notification{
    display: inline;
}

.profile_navbar i{
    top:-5px;
    position: relative;
    font-size: 20px;
    
    cursor: pointer;
}
.notification span{
    position: relative;
    top:-16px;
    background-color: red;
    color:white;
    padding: 3px;
    font-size: 12px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.navbar .btn_logout{
    
    cursor: pointer;
    margin-left: 10px;
    height: 25px;
    top:-8px;
    position: relative;

}

.main_container{
    background-color: blueviolet;
    height: 94vh;
    display: flex;
 
}

.main_container .sidebar{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    width: 32%;
    background-color: white;
    margin: 20px;
}
.main_container .main_content{
    border: 2px solid black;
    width: 60%;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 10px 20px;
}

.sidebar_header{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
   
}

.sidebar_header h6{
    margin: 0px;
    font-size: 16px;
}

.sidebar_header button{
    border: 0px;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.sidebar_header button span{
    margin-left: 10px;
}

.sidebar{
    position: relative;
    overflow: hidden;
}

.sidebar_content1{

 
    background-color: red;
    position: absolute;
    top:120px;
    left:20px;
    width: 75%;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 30px;
    padding: 10px;
}
.sidebar_content1 .user_profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    margin: 10px ;
    border-radius: 10px;
    padding: 2px;
}

.sidebar_content1 i{
    height: 12px;
    cursor: pointer;
    color:white;
    background-color: green;
    padding: 3px;
    border-radius: 10px;

}



.sidebar_content{
    
    margin-top: 40px;
  
    padding: 10px 15px;
    
}

.sidebar_content .user_profile{
    display: flex;
    margin-top: 15px;
    padding: 15px;
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}


.sidebar_content .user_profile.active{
    background-color: wheat
}
.user_profile img,
.sidebar_content1 .user_profile img
{
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_info h6,
.sidebar_content1 .user_profile h6
{
    padding: 0px;
    margin: 0;
    font-size: 14px;
}
.user_info p{
    margin: 0;
    font-size: 12px;
}


.main_content .title{
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightgray;
    height: 20px;
    border-radius: 10px;
    position: relative;
}

.main_content .title h5{
    padding: 0px;
    margin: 0;
    font-size: 16px;
}

.main_content .title i {
    cursor: pointer;
}

.main_content .msg{
    height: 82%;
    border: 3px solid lightblue;
    
    margin-bottom: 10px;
    border-radius: 20px 0px 0px 20px ;
    overflow-y: scroll;
    padding: 20px 30px;
}

.main_content .footer{
   
    bottom: 70px;
    
    width:100%;
    text-align: center;
    

}

.main_content .footer input{
    width:80%;
    height: 28px;
    border: 0;
    padding-left: 30px;
    background-color: antiquewhite;
    border-radius: 20px 0px 0px  20px ;
}

.main_content .footer input:focus{
    outline: none;
}

.main_content .footer button {
    width: 13%;
    border: 0;
    border-radius: 0px 20px 20px 0px;
    height: 30px;
    background-color: blue;
    color:white;
}

.msg{
    position: relative;
    margin: 20px 0px;
    display: flex;
    flex-direction:column;
    padding: 10px;
    
}

.msg .msg_texts{
    background-color: aliceblue;
    
    width: fit-content;
    padding: 6px 20px;
    border-radius: 60px;
    box-sizing: border-box;
    margin: 3px;
  

}
.msg .msg_texts.lf{
    background-color: aliceblue;
  
    width: fit-content;
    padding: 6px 20px;
    border-radius: 60px;
    box-sizing: border-box;
    margin-left: auto;
  

}

.msg .msg_texts.receive{
    float: right;
}

.profile_view{

    position:fixed;
    top:8%;
    left:50%;
    width:300px;
    background-color: wheat;
    padding: 15px;
    border-radius: 30px;
    display: none;
}

.profile_view.active{
    display: block;
}
.profile_view img{
    height: 170px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.profile_view i{
        border: none;
        color: blue;
       
        cursor: pointer;
        float: right;
}

.profile_view  p{
    font-weight: 100;
    font-size: 14px;
    color: rebeccapurple;
}